Client/Connected Services/MessangerServices/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsPM" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxUsers" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatDTO" nillable="true" type="tns:ChatDTO" />
  <xs:complexType name="ClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:AccountDTO" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDTO" nillable="true" type="tns:ClientDTO" />
  <xs:complexType name="AccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDTO" nillable="true" type="tns:AccountDTO" />
  <xs:complexType name="InfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoFile" nillable="true" type="tns:InfoFile" />
  <xs:complexType name="ArrayOfClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDTO" nillable="true" type="tns:ClientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDTO" nillable="true" type="tns:ArrayOfClientDTO" />
  <xs:complexType name="ArrayOfChatDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatDTO" nillable="true" type="tns:ChatDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatDTO" nillable="true" type="tns:ArrayOfChatDTO" />
  <xs:complexType name="MessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfInfoFile" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageInfo" nillable="true" type="tns:MessageInfo" />
  <xs:complexType name="ArrayOfInfoFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoFile" nillable="true" type="tns:InfoFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoFile" nillable="true" type="tns:ArrayOfInfoFile" />
  <xs:complexType name="MessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chat" nillable="true" type="tns:ChatDTO" />
      <xs:element minOccurs="0" name="ChatId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:ClientDTO" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SendingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDTO" nillable="true" type="tns:MessageDTO" />
  <xs:complexType name="ArrayOfMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageDTO" nillable="true" type="tns:MessageDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageDTO" nillable="true" type="tns:ArrayOfMessageDTO" />
</xs:schema>